<footer>
    <p>Copyright &copy; 2024.</p>
    <p>Created by <a  href="https://www.instagram.com/not_haniish" target="_blank" id="username" >@not_haniish</a> </p>
    <div>
        <script type="text/javascript">
            atOptions = {
                'key' : '05537bc5ba249a7bfd59bb5e25296173',
                'format' : 'iframe',
                'height' : 60,
                'width' : 468,
                'params' : {}
            };
        </script>
        <script type="text/javascript" src="//offspringthisscarcely.com/05537bc5ba249a7bfd59bb5e25296173/invoke.js"></script>
    </div>
    <p>Powered by <span>Express</span> and <span>EJS</span>.</p>
</footer>
<script src="/scripts/header.js" defer></script>

<div class="left_side_add_container">
    <script type="text/javascript">
        atOptions = {
            'key' : '5f799423a6858bfda5191a87a6242c19',
            'format' : 'iframe',
            'height' : 600,
            'width' : 160,
            'params' : {}
        };
    </script>
    <script type="text/javascript" src="//offspringthisscarcely.com/5f799423a6858bfda5191a87a6242c19/invoke.js"></script>
</div>

<div class="right_side_add_container">
    <script type="text/javascript">
        atOptions = {
            'key' : '5f799423a6858bfda5191a87a6242c19',
            'format' : 'iframe',
            'height' : 600,
            'width' : 160,
            'params' : {}
        };
    </script>
    <script type="text/javascript" src="//offspringthisscarcely.com/5f799423a6858bfda5191a87a6242c19/invoke.js"></script>
</div>



</body>
</html>
