<footer>
    <p>Copyright &copy; 2024.</p>
    <p>Created by <a  href="https://www.instagram.com/not_haniish" target="_blank" id="username" >@not_haniish</a> </p>
    <p>Powered by <span>Express</span> and <span>EJS</span>.</p>
</footer>
</body>
</html>
