<a href="/<%= movie.slug %>" class="movie_card">
  <figure>
    <img
      src="<%= movie.featuredImage %>"
      alt="<%= movie.title %>"
    />
  </figure>
  <figcaption>
    <%= movie.title %>
  </figcaption>
</a>
