<div class="movie_card">
  <figure>
    <img
      src="https://bunny-wp-pullzone-nngqaoqby7.b-cdn.net/wp-content/uploads/2025/01/buRe826xkgyU95nyMaDMuCN111-200x300.webp"
      alt="Download The Rig | 2023-2025 | Season 1 – 2 | {Hindi-English} | Amazon Original Web Series | 480p 720p 1080p"
    />
  </figure>
  <figcaption>
    Download The Rig | 2023-2025 | Season 1 – 2 | {Hindi-English} | Amazon
    Original Web Series | 480p 720p 1080p
  </figcaption>
</div>
