<a href="/<%= movie.slug %>" class="movie_card" target="_blank" rel="noopener noreferrer">
  <figure>
    <img src="/movies/poster/<%= movie.slug %>.jpg" alt="<%= movie.title %>" loading="lazy" onerror="handleImageError(this)" />
  </figure>
  <figcaption><%= movie.title %></figcaption>
</a>