<%- include('./partials/header.ejs') %>

<div id="movie_card_container">
    <% movies.forEach(movie => { %>
    <%- include('./partials/movie_card.ejs', { movie }) %>
  <% }) %>
</div>

<%- include('./partials/pagination.ejs', {movies,page}) %> 
<%- include('./partials/footer.ejs') %>
