footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  z-index: 100;
  margin-top: 50px;
}

footer p span {
  color: #b3b3b3;
}

footer p span:hover {
  text-decoration: underline;
}

#username {
  color: greenyellow;
  font-weight: bold;
}

.left_side_add_container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.right_side_add_container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
@media (max-width: 480px) {


  .left_side_add_container{
    display: none;
  }
  
  .right_side_add_container{
    display: none;
  }
}