#pagination_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#pagination_wrapper a {
  padding: 10px;
  border: 1px solid blue;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

#pagination_wrapper a.active {
  background-color: blue;
  color: white;
}

@media (max-width: 480px) {

  #pagination_wrapper a {
   font-size: 12px;
  }
}
